.header {
  margin-top: 10px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 125px;
}

.header-logo {
  font-weight: 700;
  font-size: 40px;
  line-height: 160%;
  color: #111111;
}

.menu a {
  text-decoration: none;
  padding-left: 35px;
  font-size: 21px;
  color: #111111;
}

.nav-profile {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
}

.menu a:hover {
  color: #6047ec;
}
